
.cate1, .cate5{
  color: #bbc1df !important
}
.centrado{
  padding-bottom: 100px;
}
#s1{
 text-align: center;
padding-top: 13%;
padding-bottom: 60px !important;

text-align: center;}

.imagen {
    width: 48%;
}

.content{
max-width: 80%;
margin: 0 auto;}

.contentinput {
    max-width: 76%;
    margin: 0 auto;
    padding-top: 7%;
}
.infoinput {
    font-weight: 200;
    padding-bottom: 1%;
}
.cabe {
    font-family: 'grouch';
    padding-bottom: 30px;
    font-size: 3rem;
    color: black;
        font-weight: normal;
        line-height: 40px
}
/*+++++++++++++++++++++++++++++ Esto es para las ventanas de información ++++++++*/
footer{
    margin-top: -48px;
    width: 100%;
    padding: 0 60px;}

.s1img{
max-width: 35%;
display: inline-block;
}


.divinforma{
  width: 50%;
float: right;

}
.centrado{
  max-width: 80%;
  margin: 0 auto
  
}

.botones{
  margin-top:30px 
}
.informa {
    font-weight: 200;
    margin: 0 auto;
    text-align: center;
  line-height: 30px;
    width: 90%

}
.saber{
  list-style: none;
  text-decoration: none;
    color: #bbc1df;
    margin: 0 30px;
    font-family: 'Roboto';
    font-weight: 300;
    padding: 1px 10px;
    border-radius: 50px;
    border: solid 1px #bbc1df;
        transition: background  0.5s linear 0.1s
}
.saber:hover{
  background: #bbc1df;
  color: #fff4eb;
 transition: background 0.5s linear 0.1s
}

  
  .contenidolegal, .redes, .copyright {
    width: 29% !important;
}

input[type="range"]{

  width: 70px;
  appearance: none;

    height: 1.5rem;
    background-color: #b8bede;
    border: 11px solid #fcf7f2;
};
    border-radius: 15rem;
    cursor: pointer;
   

 
  }
  input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #b8bede;;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #fff4eb;
  cursor: pointer;
}​
  



