
.cate1{
	color: #bbc1df !important;}

#s1{
 background-image: url(../images/ilustraciones/fondo2.png);
 background-size: cover; 
height: 100vh; 
background-position: center top;
text-align: center;
padding-bottom: 100px;}

#s1 a{
  text-decoration: none;
   list-style: none;
   color:black;
   font-size: 28px;
      font-family: 'Reikna';
       transition: color 0.5s linear 0.1s;
}

.textoilustraciones {
    font-weight: 300;
       line-height: 30px;
  padding-top: 15%;
    max-width: 80%;
    margin: 0 auto
}
.esti{

text-align: center;
}
.ilustraciones{
	width: 250px;
	display: block;
margin: 0 auto;
transition: width 0.5s ease 0.1s}

	.estilos {
    display: inline-block;
    width: 25.5%;
    height:50%;
    text-align: center;
    padding-top: 2%;
}
.estilos p{
	display: block;
}
.estilos a{
	font-size: 52px !important
}
.estilos a:hover{
	color: #b8bede !important
}
.ilustraciones:hover{
	width: 230px;
	transition: width 0.5s ease 0.1s;	
}

.estilos a:hover .ilustraciones{
	width: 230px;
	transition: width 0.5s ease 0.1s;}