.cate3{
  color: #bbc1df !important
}

#s1{
 text-align: center;
padding-top: 13%;
padding-bottom: 30%;
 background-image: url(../images/fondo4.png);
 background-size: cover; 
background-position: left top;
text-align: center;}

.informacion {
padding-top:150px;
  max-width: 80%;
  margin:0 auto;
    line-height: 25px;
    font-weight: 300;

}

.titulo{
  font-size: 2.5rem;
  font-family: 'grouch';
  padding-bottom: 10px
}
.textoencargos, .text{

  font-size: 1rem;
    max-width: 60%;
    margin: 0 auto;
    padding: 40px 0;
    line-height: 30px;
    font-weight: 300;
}
}
/*{
    font-weight: 300;
    margin: 0 auto;
       line-height: 30px;
  max-width: 70%
}*/
.opciones{
text-align: center;
}
.encargos{
  width: 250px;
  display: block;
margin: 0 auto 10px auto;
transition: width 0.5s ease 0.1s}

  .opcion {
    display: inline-block;
    width: 25.5%;
    height:50%;
    text-align: center;
    padding-top: 5%;
  
}

.opcion a{
  font-size:2rem;
  font-family: 'grouch';
  text-decoration: none;
  color:black;
}
.opcion a:hover{
  color: #b8bede !important
}
.encargos:hover{
  width: 230px;
  transition: width 0.5s ease 0.1s; 
}

.opciones a:hover .encargos{
  width: 230px;
  transition: width 0.5s ease 0.1s;}