.text1 {
  width: 22ch;
  animation: typing 5s steps(22), blink 5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
font-size: 50px;

   font-family: 'Reikna';
   max-width:180px;
   margin: 0 auto;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

#s1{
/* background-image: url(../images/inicio/inicio2.png);
 background-size: cover; */
height:100%; 
    padding-bottom: 114px;
background-position: center top;}
.centrado {
    margin-top: 114px;
    text-align: center;

}
img.s1img {
    width: 38%;
    display: inline-block;
}
.s1div { 
  width: 50%;
  margin: auto;
  text-align: center;
  padding-top: 70px;
  height: auto;
     display: inline-block;

 }
#s1 p {
    color: black;
   font-weight: 300;
         font-size: 1.2rem;
     line-height: 34px;
}
 #s1 a{
   text-decoration: none;
   list-style: none;
   color:black;
   font-size: 1.2rem;
        font-family: 'grouch';
       transition: color 0.5s linear 0.1s;
 }
  #s1 a:hover{
   color: #bbc1df;
   transition: color 0.5s linear 0.1s;
 }
 
