

section#s1 {
    width: 80%;
    margin: 0 auto;
    padding-top: 15%;

}

body{
      background-image: url(../images/fondo2.png);
    background-repeat: no-repeat;
        
}
h1 {
    font-family: 'grouch';
    font-size: 2rem;
    padding: 70px 0 10px 30px;
   
    font-weight: 400;
    color: black;
}

#s1 p{
  font-size: 1rem;
  font-weight: 100

}
#s1 ul{
  padding-top: 30px
}
#s1 li{
  font-weight: 100;
  list-style: none;
  padding-top: 5px
}


footer{
  padding-top:50px!important;

}