
 @media screen and (max-width:880px) { 
   header {
    width: 100%;
    height: 65px;
    position: fixed;
    background-color:#fcf7f2;
    text-align: center;
    z-index: 5
}

 .idioma{
  display: none
}
.idiom a{
    color: #b8bede;
    text-decoration: none;
    font-family: 'roboto' !important;
    font-size: 1rem !important;
    display: inline-block;
}

.idiom{
  color:#b8bede;
}
.idiomap {
    color: #b8bede;
}


li.lilogo {
    display: none !important;
}

.logo {
    display: block;
    margin: 0 auto;

    padding-top: 8px;
}

.logo img{
  width: 54px}

  .compra {
    float: right;
    padding-right: 26px;
    margin-top: -43px !important;
}



.nav1 {
    padding: 0;
    width: 100%;
    position: absolute;
    background: #fcf7f2;
    display: none;
opacity: 0;
    transition: opacity 0.2s linear 0.2s;
        z-index: 1
}
.ul1 li {
display: inline;
float: none;
text-align: center;
width: 100%;
}

.ul1 a{
  font-size: 2rem
}

/*PARA CREAR LAS LÍNEAS DEL MENÚ HAMBURGUESA*/
.classlabel{ 
position: absolute;  /*para posicionar el botón en el header*/
display: block;  /*para que funcione*/
cursor: pointer;  /*para que aparezca el cursor al pasar por encima*/
width: 44px;  /*medida de ancho*/
height: 44px;  /*medida de alto*/
background:#fcf7f2;  /*color de fondo*/
left: 5px;  /*espacio por la derecha o izquierda*/
top: 10px; /*espacio por arriba*/}

.classlabel span {     
  position: absolute;
    top: 0;
    bottom: 0;
    left: 16px;
    width: 26px;
    height: 2px;
    margin: auto;
    background: #b8bede;
}

.classlabel span:before,
.classlabel span:after {  /*+ con before and after se usa para poner algo antes o después del span*/
position: absolute;
width: inherit; /*coge la altura de la etiqueta donde está metido (span en este caso)*/
height: inherit; /*coge la anchura de la etiqueta donde está metido (span en este caso)*/
content: ''; /*dice que si tiene contenido aunque esté vacío para que así funcione*/
background: #b8bede;
left: 0;}

.classlabel span:before { /* le decimos que el span inventado suba -0.5 y distanciarse del padre */
top: -0.5em;}

.classlabel span:after {/* y este que baje -0.5 */
bottom: -0.5em;}


input:checked ~.nav1{
  display: block;
opacity: 100;
 transition: opacity 0.2s linear 0.2s;
}








.social-icons {
    padding-left: 0;
   
}

.redesmenu{
   width: 100%;
  display: inline-block;
}

.liredesmenu{
    width: 100%;
    display: inline;
}




#s1 {
    padding-top:80px ;
}
footer{
  text-align: center;
  margin: 0 auto;
      margin-top: -109px;
}
.contenidolegal{
    margin-top: 50px;
    width: 100% !important;
      text-align: center;}

    .redes{
      display: none !important
    }

.copyright p {
    font-size: 1rem;
    padding-bottom: 40px;
        font-weight: 100;
    text-align: center;
    padding-top: 20px
}

.copyright {
    width: 100% !important;
}


}





 @media screen and (max-width:1150px) {

 
  .contenidolegal,  .redes, .copyright {
    display: inline-block;
    width: 25%;
    text-align: center;
}
.redes{
  text-align: center;
}
.copyright {
  float: right;

}
}

