 @media screen and (max-width:962px) {
.saber {
    display: block;
    margin-top: 26px;
}
.s1img {
    max-width: 44%;}
}

 @media screen and (max-width:700px) {

.divinforma {
    width: 90%;
    margin: 0 auto;
    float: none;}
  #s1{
  	background-position: right top;
  }

  footer {
    margin-top: -50px;}

}
