

 @media screen and (max-width:880px) { 

.estilos{
	width: 100%
}
.textoilustraciones {
 
  padding: 50px 0;
  max-width: 70%;
  margin:0 auto;

}

.compra {
    margin-top: -43px !important;
}

#s1 a{
font-size: 28px !important;
}

.ilustraciones {
    width: 40%; }


.contenidolegal {
    text-align: left;
}

#s1{
	padding-top: 100px;
	height: auto;
}

footer{
	padding-top: 150px
}
.contenidolegal {
    text-align: center;
}
}
  @media screen and (max-width:500px) { 
  	.textoilustraciones{
  		max-width: 90%
  	}
  	.ilustraciones{
  		width: 70%
  	}}
