 @media screen and (max-width:768px) { 

.estilos{
	width: 100%
}


#s1 a{
font-size: 34px !important;
}

.ilustraciones {
    width: 40%; }


.contenidolegal {
    text-align: left;
}

#s1{
	padding-top: 100px;
	height: auto;
}

footer{
	padding-top: 150px
}
.contenidolegal {
    text-align: center;
}
}
