 @media screen and (max-width:880px){ 
  .s1div {
 
    max-width: 80%;
    padding: 0

}
.text1 {
    font-size: 3rem;
    max-width: 90%}

   .redes p{
    display: none
   }

   .copyright {
    display: block;
    width: 100%;
    text-align: center;
}
.redes {

    display: block;
}
#s1{
  background-position: left;
  height: auto;
}
#s1 a {
    font-size: 1.3rem;}

#s1 p {
 
    font-weight: 100;
    font-size: 1.3rem;
}
footer{
      margin-top: 150px;
}
}