 @media screen and (max-width:768px){ 
 	.s1div {
 
    max-width: 80%;
    padding: 100px 0;
}
.text1 {
max-width: 253px;
    font-size: 36px;}

   .redes p{
   	display: none
   }

   .copyright {
    display: block;
    width: 100%;
    text-align: center;
}
.redes {

    display: block;
}

}